@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@font-face {
  font-family: titulos;
  src: url("/fuentes/aliens\ and\ cows_trial.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightsteelblue;
    font-family: "Poppins", sans-serif;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

.container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}
section .container{
  margin-bottom: 130px;
}
img{
    height: 37rem;
    margin: 0;
}

article{
    margin: 20px;
}


figcaption{
  margin-top: 15px;
}


.d-block{
  margin: 15px auto;
}

header{
  background-color: rgb(205, 228, 206);
  position: relative;
}

section{
  margin: 0 auto;
}

#logo {
  width: 50px;
  height: 52px;
  background: url("/img/logo.png");
  font-size: 0;
  position: absolute;
  top: 2px;
  left: 20px;
  z-index: 1;
}

h2{
  font-family: titulos;
  font-weight: 500;}

h2 ,h3{

  text-align: center;
  position: relative;
  
  margin: 0 0 1rem;
  font-size: 3.6rem;
  
}
h3{
  margin-top: 3rem;
  font-size: 2rem;
  font-weight: bold;
}
h2::after{
  content: "";
  position: absolute;
  bottom: 1px;
  height: 3px;
  width: 6rem;
  border-bottom: 3px solid cyan;
}

.iconos{
  text-align: center;
}



.icon{
  margin: 0 auto;
  width: 15em;
  height: 15em;
}

div{
  display: block;
}

.pantallas {
  background-color: rgb(0, 138, 132);
  margin-top: 15em;
}

.cards {
  width: 300px;
  margin: 20px 5px 5px auto;
  border: 1px solid black;
  border-radius: 25px;
  display: flex;
  background-color: lightsteelblue;
}

.usuario {
  margin-top: 10px;
  margin-left: 5px;  
  width: 4em;
  height: 4em;
  border-radius: 100%;
}
figcaption{
  margin-left: 5px;

}
figure{
  margin: 10px;
  display: inline-block;
}

.p2{
  margin: 2px;
  text-align: start;
  margin-top: 3em;
  font-weight: 400;
}
footer{
  background-color: rgb(200, 223, 195 );
}
#footer-link{
  max-width: auto;
  display: flex;
  justify-content: center ;
}
#logo-footer{
  height: 100px;
  margin: 20px;
}
label{
  font-size: larger;
}

input{
justify-content: center;
}





@media screen and (max-width: 991px){
  #logo {
      left: calc(50% - 20px);
  }
  .cards{
    margin: 15px auto;
    width: 300px;
  }
  .row{
    display: block;
  }


}

 .social {
	position: fixed; 
	left: 0; 
	top: 200px;
	z-index: 2000;
 }

	.social ul {
		list-style: none;
	}

	.social ul li a {
		display: inline-block;
		color:#fff;
		background: #000;
		padding: 10px 15px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease;
	}

	.social ul li .icon-facebook {background:#3b5998;} 
	.social ul li .icon-twitter {background: #00abf0;}


	.social ul li a:hover {
		background: #000;
		padding: 10px 30px;
	}





@media screen and (min-width: 992px) {
  .container{
    max-width: 600px;
  }

  #parallax-uno{
    height: 100vh;
    background-image: url("/img/turista.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  #parallax-dos {
    
    background-image: url("/img/turista2.jpg");
    background-size: cover;
    background-position:center;
    
    background-attachment: fixed;
  }
  #parallax-tres {
    background-image: url("/img/turista3.jpg");
    background-size: cover;
    background-position:center;
    
    background-attachment: fixed;
  }

}






